:root{
    --bg_color: #181510;
    --highlight_color: #fb0;
    --inactive_color: #6d6b65;
    --text_color: #e9dbbd; /*cbb682*/
}

@font-face {
    font-family: "merienda";
    font-weight: 400;
    src: url("fonts/merienda/Merienda-Regular.woff2") format("woff2"),
         url("fonts/merienda/Merienda-Regular.woff") format("woff");
}
@font-face {
    font-family: "merienda";
    font-weight: 700;
    src: url("fonts/merienda/Merienda-ExtraBold.woff2") format("woff2"),
         url("fonts/merienda/Merienda-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "alegreyasans";
    font-weight: 400;
    src: url("fonts/merienda/alegreyasans-regular.woff2") format("woff2"),
         url("fonts/merienda/alegreyasans-regular.woff") format("woff");
}
@font-face {
    font-family: "alegreyasans";
    font-weight: 700;
    src: url("fonts/merienda/alegreyasans-bold.woff2") format("woff2"),
         url("fonts/merienda/alegreyasans-bold.woff") format("woff");
}
@font-face {
    font-family: "alegreyasans";
    font-weight: 900;
    src: url("fonts/merienda/alegreyasans-black.woff2") format("woff2"),
         url("fonts/merienda/alegreyasans-black.woff") format("woff");
}

html {
    background: #102020; /*var(--bg_color);*/
    /*background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);*/
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "merienda", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    background: var(--bg_color);
    /*background: #507070;*/
    /*background: #070708;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;*/
}

a{
    text-decoration: none;
}

.main_grid {
    display: grid;
    grid-gap: 5px;
    
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, minmax(70px, auto));
    
    max-width: 1700px;
    margin: auto;   /*Adds margin to both sides when window is too big. Centers itself.*/
}

.main_grid div {
    background: var(--bg_color);
}


.highlight_word {
    font-weight: bolder;
    color: white;
}

/*--- Top Bar ------------------------------------------------------------*/
/*------ Home Button(Image) */
.top_home {
    grid-column: 1/4;
    min-height: 50px;
    max-height: 70px;
}

.top_home img {
    width: auto;
    max-height: 100%;
}


/*--- Top Bar ------------------------------------------------------------*/
/*------ Navigation Links */
.top_nav {
    grid-column: 4/7;
    min-height: 50px;
    max-height: 70px;
}
.top_nav ul{
    height: 100%;
    
    list-style-type: none;  /*This "hides" the bullet icons.*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg_color);
}
.top_nav li{
    float: right;   /*Align the list elements to the right.*/
}
.top_nav p {
    display: block;
    border-radius: 2px;
    color: var(--text_color);
    font-size: 120%;
    text-align: center;
    padding: 10px 16px; /*vertical, horizontal*/
    margin-left: 5px;
    text-decoration: none;
    
    transition: 0.6s;
}
.top_nav p:hover {
    background-color: var(--text_color);
    color: var(--bg_color);
}

.top_nav_inactive {
    grid-column: 4/7;
    min-height: 50px;
    max-height: 70px;
}
.top_nav_inactive ul{
    height: 100%;
    
    list-style-type: none;  /*This "hides" the bullet icons.*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg_color);
}
.top_nav_inactive li{
    float: right;   /*Align the list elements to the right.*/
}
.top_nav_inactive p {
    display: block;
    color: var(--inactive_color);
    font-size: 120%;
    text-align: center;
    padding: 10px 16px; /*vertical, horizontal*/
    margin-left: 5px;
    text-decoration: none;
}


/*--- Section_Title: Project ---------------------------------------------*/
.title_about {
    grid-column: 1/7;
    
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.section_img{
    max-width: 100%;
    height: auto;
}

/*--- Project ------------------------------------------------------------*/
.project {
    grid-column: 1/7;
    color: var(--text_color);
    
    font-size: 170%;
    line-height: 1.5;
    
    font-size: clamp(12px, 2vw, 28px); /*vw = based on "viewport" size.*/
}

.back_button {
    grid-column: 3/5;
}

.back_button p {
    border: solid var(--text_color);
    border-radius: 5px;
    
    display: block;
    color: var(--text_color);
    font-size: 120%;
    text-align: center;
    padding: 10px 16px; /*vertical, horizontal*/
    margin-left: 20%;
    margin-right: 20%;
    text-decoration: none;
    
    transition: 0.6s;
    
}

.back_button p:hover {
    background-color: var(--text_color);
    color: var(--bg_color);
}
/*--- links --------------------------------------------------------------*/
.links {
    grid-column: 3/5;
    display: grid;
    grid-gap: 0px;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(70px, auto);
    
    margin: auto;   /*Adds margin to both sides when window is too big. Centers itself.*/
}

.links div{
    max-width: 30%;
    align-self: center;
    justify-self: center;
}

.links img{
    outline: solid;
    outline-color: var(--bg_color);
    border-radius: 1px;
    padding: 15px;
    max-width: 100%;
}

.links img:hover{
    max-width: 120%;
    width: 120%;
    outline-color: var(--text_color);
}

/*--- Footer -------------------------------------------------------------*/
.footer_credits{
    grid-column: 1/4;
    
    color: var(--text_color);
    
    /*font-size: 80%;*/
    line-height: 1.6;
    
    font-size: clamp(60%, 2vw, 80%); /*vw = based on "viewport" size.*/
}

.footer_credits ul{
    list-style-type: none;  /*This "hides" the bullet icons.*/
    padding-left: 10px;
}

.footer_credits_site_by{
    float: left;
    padding-right: 12px;
}

.footer_privacy_policy{
    float: left;
}

.footer_privacy_policy p {
    border-radius: 3px;
    text-align: center;
    padding: 0px 6px; /*vertical, horizontal*/
    color: var(--text_color);
    text-decoration: none;
}

.footer_privacy_policy p:hover {
    background-color: var(--text_color);
    color: var(--bg_color);
    
    transition: 0.6s;
}

.footer_privacy_policy_inactive{
    float: left;
}

.footer_privacy_policy_inactive p {
    border-radius: 3px;
    text-align: center;
    padding: 0px 6px; /*vertical, horizontal*/
    color: var(--inactive_color);
    text-decoration: none;
}


.footer_links{
    grid-column: 4/7;
    display: block;

    margin: auto 10% auto auto;
    max-height: 70px;
}

.footer_links img{
    border: solid var(--bg_color);
    border-radius: 7px;
    height: 20px;
    max-height: 20px;
    padding: 5px;
    
    transition: 0.2s;
}

.footer_links img:hover{
    border: solid var(--text_color);
}